.label {
  display: block;
  width: 500px;
  border: 2px solid #afeeee;
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 1023px) {
  .label {
    width: 300px;
  }
}

.div {
  margin-bottom: 5px;
  padding-top: 12px;
}

.text {
  border: none;
  background: transparent;
  outline: none;
  display: block;
  width: 100%;
}

.span {
  color: #afeeee;
  position: absolute;
  top: 8px;
  left: 10px;
  transition: 0.45s;
}

.label.focus {
  border-color: #800000;
}

.span.focus {
  color: #800000;
}

.span.top {
  left: 2px;
  top: -10px;
  font-size: 12px;
  background: white;
  padding: 0 5px;
}
